/* General design */
	html {
		scroll-behavior: smooth;
		overflow-x: hidden;
	}
	body {
		background-color: black;

		display: flex;
	}
	p, a, li, address {
		text-align: justify;
		color: #858585;
		font-family: sans-serif;
	}
	h1, h2, h3, h4, h5, h6 {
		text-align: center;
		color: white;
		font-family: sans-serif;
	}
	ul {
		padding: 0;
		list-style-type: none;
	}
	a {
		text-decoration: none;
	}
	address {
		font-style: normal;
	}

/* Header */
	header {
		position: fixed;
		top: 0;
		left: 0;

		padding: 10px;
	}
	/* Header nav */
		header nav ul {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}
		header nav ul li a p {
			width: 200px;
			margin: 0;
			padding: 5px 0;

			text-align: center;
			transition: background-color 0.4s, color 0.4s;
		}
		header nav ul li a p:hover {
			background-color: white;
			color: black;
		}

/* Main */
	main {
		margin-left: 250px;
	}
	main section {
		/* JS : min-height */
		margin: 10px;
	}
	/* Welcome */
		#welcome {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			transition: transform 0.5s;
		}
		#welcome > * {
			font-size: 40pt;
			color: #AAA;
		}
	/* Myself */
		#myself aside {
			display: flex;
			justify-content: space-around;
		}
		#myself aside iframe {
			height: 600px;
			border: 0;
		}
		#myself ul {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
		}
		#myself li {
			width: 80%;
			text-align: center;
			font-size: 18pt;
			transition: opacity 1.5s;
		}
	/* Skill */
		#skill ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			transition: justify-content 0.3s;
		}
		#skill li {
			width: 40%;
			padding: 10px;
			margin: 10px;
			border: 2px solid #AAA;
			border-radius: 10px;
			text-align: left;
			font-size: medium;
			transition: font-size 0.5s;
		}
		#skill li:hover {
			font-size: x-large;
		}
		#skill li a {
			color: white;
		}
	/* Jauge */
		#jauge aside {
			columns: 2;
		}
		#jauge aside table {
			width: 100%;
		}
		#jauge aside th {
			width: 25%;
		}
		#jauge aside td p {
			padding: 5px 10px;
			color: black;
			/* JS : background-image in JS */
			/* JS : width */
			transition: width 0.5s;
		}
	/* Asset */
		#asset {
			/* JS : animation background-image */
		}
		@keyframes assetBackground {
			0%	{background-image: radial-gradient(#555,black 0%);}
			10%	{background-image: radial-gradient(#555,black 10%);}
			20%	{background-image: radial-gradient(#555,black 20%);}
			30%	{background-image: radial-gradient(#555,black 30%);}
			40%	{background-image: radial-gradient(#555,black 40%);}
			50%	{background-image: radial-gradient(#555,#555 10%,black 50%);}
			60%	{background-image: radial-gradient(#555,#555 20%,black 60%);}
			70%	{background-image: radial-gradient(#555,#555 25%,black 65%);}
			80%	{background-image: radial-gradient(#555,#555 30%,black 70%);}
			90%	{background-image: radial-gradient(#555,#555 35%,black 75%);}
			100%{background-image: radial-gradient(#555,#555 40%,black 80%);}
		}
		#asset ul {
			width: 50%;
			margin: auto;
			margin-top: 25%;
		}
		#asset li {
			margin: 20px 0;
			text-align: center;
			font-size: 1.2em;
			color: black;
		}
	/* Experience */
		#experience aside {
			/* JS : margin-left */
			width: 100%;
			padding: 10px;
			transition: margin-left 0.5s;
		}
		#experience img {
			float: left;
			margin: 0 10px;
		}
	/* Certificate */
		#certificate tr {
			border-radius: 10px;
			box-shadow: 0 0 0 black;
			transition: box-shadow 0.5s;
		}
		#certificate tr:hover {
			box-shadow: 0 0 20px white;
		}
	/* Hobbie */
		#hobbie {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
		}
		#hobbie h3 {
			width: 100%;
		}
		#hobbie aside {
			width: 30%;
			display: flex;
			flex-direction: column;
			align-items: center;
			/* JS : transform rotateY() */
			transition: transform 0.7s;
		}
	/* Partner */
		/* Picture turn and arrive + arrive from right */
		#partner li {
			width: 100%;
			padding: 10px;
			/* JS : margin-left */
			transition: margin-left 0.7s;
			display: flex;
			justify-content: space-around;
			align-items: center;
		}
		#partner li img {
			/* JS : transform rotate() */
			transition: transform 0.7s;
		}
		#partner li aside {
			width: 60%;
		}
		#partner li aside h4 {
			text-align: left;
		}
	/* Contact */
		#contact {
			padding: 20px;
			background-color: white;
		}
		#contact h3, #contact li, #contact p, #contact address, #contact a {
			text-align: center;
			color: black;
		}
		#contact li {
			margin: 10px 0;
		}
		#contact img {
			margin: 10px;
		}

/* Media queries */
	@media all and (max-width: 1050px) {
		#myself iframe {
			display: none;
		}
		#jauge aside {
			columns: 1;
		}
		#skill ul {
			display: block;
		}
		#skill li {
			width: 90%;
		}
		#asset ul {
			margin-top: 37%;
		}
		#asset li {
			font-size: 1em;
		}		
		#experience img {
			float: none;
			margin: 0 40%;
		}
		#hobbie {
			display: block;
		}
		#hobbie aside {
			width: 100%;
		}
		#partner li {
			display: block;
			text-align: center;
		}
		#partner li aside {
			width: 100%;
		}
		#partner li aside h4, #partner li aside p, #partner li aside a {
			text-align: center;
		}
	}
	@media all and (max-width: 800px) {
		header {
			display: none;
		}
		main {
			margin-left: 0;
		}
	}
	@media all and (max-width: 550px) {
		main section {
			/* JS : min-height removed */
		}
		#welcome > * {
			font-size: 32pt;
		}
		#asset {
			/* JS : animation removed */
		}
		#asset ul {
			width: 70%;
			margin-top: 0;
		}
		#asset li {
			color: #858585;
		}
	}
	@media all and (max-width: 450px) {
		body {
			margin: 0;
		}
		main section {
			margin: 10px 0;
		}
		#welcome > * {
			font-size: 20pt;
		}
		#asset ul {
			width: 80%;
		}
	}
